body {
    background-color: ivory;
    text-align: center;
}

input#name {
    background-color: beige;
    border-color: sandybrown;
}

input#special {
    background-color: beige;
    border-color: sandybrown;
}

fieldset {
    border-width: thick;
    width: fit-content;
    margin: auto;
    border-color: sandybrown;
}

label {
    font-size: large;
}

.sam {
    position: fixed;
    top: .1px;
    left: .1px;
    height: auto;
    width: 50px;
}